//Colors
$purple: #6E72A1
$lightPurple: #8C8FB5
$darkBlue: #240F3C
$orange: #F85B38
$white: #fff

//Font-weight fonts
$bold: 700
$semiBold: 600
$medium: 500

body
  font-family: 'Montserrat', sans-serif
  font-size: 18px
  font-weight: $semiBold
  color: $darkBlue

header
  padding: 10px 0
  color: $white
  background-color: $purple

  .header__sort
    select
      width: 100%
      padding: 5px
      text-align-last: center
      text-align: center
      font-weight: $medium
      font-size: 15px
      color: $white
      background-color: $lightPurple
      border: 0
      border-radius: 4px
      outline: none

    option
      color: $darkBlue
      background-color: $white



