$dark-blue: #240F3C
$light-blue: #6E72A1
$orange: #F85B38
$grey: #848C92

body
  color: $dark-blue

.button
  display: block
  border-radius: 40px

.header
  padding-top: 30px
  .header__logo
    img
      height: 60px
    .logo-orange
      color: $orange
  .header__signin,
  .header__signup
    display: flex
    justify-content: center
    padding: 8px 28px
    border: 1px solid $light-blue

